<h3>Cadastro</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="thumbnail">
            <div class="caption">
                <h3>Usuário</h3>
                <p>Cadastrar um novo usuário para acessar o sistema</p>
                <p><a href="#/usuario" class="btn btn-primary" role="button">Cadastrar</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="thumbnail">
            <div class="caption">
                <h3>Aplicação</h3>
                <p>Cadastrar uma nova aplicação, tipos de acesso, página de redirecionamento, etc</p>
                <p><a href="#/aplicacao" class="btn btn-primary" role="button">Cadastrar</a></p>
            </div>
        </div>
    </div>
</div>
