<div class="jumbotron">
    <h1>{{'PRINCIPAL.INFORMACAO.TITULO'|translate}}</h1>
    <p class="lead">{{'PRINCIPAL.INFORMACAO.DESCRICAO'|translate}}</p>
    <p><a class="btn btn-lg btn-success" href="#cadastro" role="button">{{'PRINCIPAL.INFORMACAO.LOGIN'|translate}}</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>{{'PRINCIPAL.REST.NOME'|translate}}</h4>
        <p>{{'PRINCIPAL.REST.DESCRICAO'|translate}}</p>
    </div>

    <div class="col-lg-6">
        <h4>{{'PRINCIPAL.OAUTH.NOME'|translate}}</h4>
        <p>{{'PRINCIPAL.OAUTH.DESCRICAO'|translate}}</p>
    </div>
</div>

<footer class="footer">
    <p>{{'APP.SOBRE'|translate}}</p>
</footer>